// __margins__

// top
.mt4 {
    margin-top: 4px;
}

.mt8 {
    margin-top: 8px;
}

.mt12 {
    margin-top: 12px;
}

.mt16 {
    margin-top: 16px;
}

.mt20 {
    margin-top: 20px;
}

.mt24 {
    margin-top: 24px;
}

.mt28 {
    margin-top: 28px;
}

.mt32 {
    margin-top: 32px;
}

.mt36 {
    margin-top: 36px;
}

.mt40 {
    margin-top: 40px;
}

// bottom
.mb4 {
    margin-bottom: 4px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb28 {
    margin-bottom: 28px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb40 {
    margin-bottom: 40px;
}

// left
.ml4 {
    margin-left: 4px;
}

.ml8 {
    margin-left: 8px;
}

.ml12 {
    margin-left: 12px;
}

.ml16 {
    margin-left: 16px;
}

.ml20 {
    margin-left: 20px;
}

.ml24 {
    margin-left: 24px;
}

.ml28 {
    margin-left: 28px;
}

.ml32 {
    margin-left: 32px;
}

.ml36 {
    margin-left: 36px;
}

.ml40 {
    margin-left: 40px;
}

// right
.mr4 {
    margin-right: 4px;
}

.mr8 {
    margin-right: 8px;
}

.mr12 {
    margin-right: 12px;
}

.mr16 {
    margin-right: 16px;
}

.mr20 {
    margin-right: 20px;
}

.mr24 {
    margin-right: 24px;
}

.mr28 {
    margin-right: 28px;
}

.mr32 {
    margin-right: 32px;
}

.mr36 {
    margin-right: 36px;
}

.mr40 {
    margin-right: 40px;
}

// full dimensions
.m4 {
    margin: 4px;
}

.m8 {
    margin: 8px;
}

.m12 {
    margin: 12px;
}

.m16 {
    margin: 16px;
}

.m20 {
    margin: 20px;
}

.m24 {
    margin: 24px;
}

.m28 {
    margin: 28px;
}

.m32 {
    margin: 32px;
}

.m36 {
    margin: 36px;
}

.m40 {
    margin: 40px;
}