// __paddings__

// top
.pt4 {
    padding-top: 4px;
}

.pt8 {
    padding-top: 8px;
}

.pt12 {
    padding-top: 12px;
}

.pt16 {
    padding-top: 16px;
}

.pt20 {
    padding-top: 20px;
}

.pt24 {
    padding-top: 24px;
}

.pt28 {
    padding-top: 28px;
}

.pt32 {
    padding-top: 32px;
}

.pt36 {
    padding-top: 36px;
}

.pt40 {
    padding-top: 40px;
}

// bottom
.pb4 {
    padding-bottom: 4px;
}

.pb8 {
    padding-bottom: 8px;
}

.pb12 {
    padding-bottom: 12px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb28 {
    padding-bottom: 28px;
}

.pb32 {
    padding-bottom: 32px;
}

.pb36 {
    padding-bottom: 36px;
}

.pb40 {
    padding-bottom: 40px;
}

// left
.pl4 {
    padding-left: 4px;
}

.pl8 {
    padding-left: 8px;
}

.pl12 {
    padding-left: 12px;
}

.pl16 {
    padding-left: 16px;
}

.pl20 {
    padding-left: 20px;
}

.pl24 {
    padding-left: 24px;
}

.pl28 {
    padding-left: 28px;
}

.pl32 {
    padding-left: 32px;
}

.pl36 {
    padding-left: 36px;
}

.pl40 {
    padding-left: 40px;
}

// right
.pr4 {
    padding-right: 4px;
}

.pr8 {
    padding-right: 8px;
}

.pr12 {
    padding-right: 12px;
}

.pr16 {
    padding-right: 16px;
}

.pr20 {
    padding-right: 20px;
}

.pr24 {
    padding-right: 24px;
}

.pr28 {
    padding-right: 28px;
}

.pr32 {
    padding-right: 32px;
}

.pr36 {
    padding-right: 36px;
}

.pr40 {
    padding-right: 40px;
}

// full dimensions
.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p12 {
    padding: 12px;
}

.p16 {
    padding: 16px;
}

.p20 {
    padding: 20px;
}

.p24 {
    padding: 24px;
}

.p28 {
    padding: 28px;
}

.p32 {
    padding: 32px;
}

.p36 {
    padding: 36px;
}

.p40 {
    padding: 40px;
}