@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {

}


* {
    &::-webkit-scrollbar {
        width: 12px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid #f4d4ff;
        border-radius: 12px;
        background: linear-gradient(180deg, rgba(188, 52, 226, 0.5) 3.26%, rgba(122, 39, 241, 0.5) 98.07%);
    }
}