
.callStoreButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #FFFFFF;
    color: #5610be;
}

.informationView {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 80%;
    height: 85%;
    background-color: #ffffff;
    border: 4px solid #acebf8;
    border-radius: 16px;
    box-shadow: 0px 4px 28px 0px rgba(255, 255, 255, 0.45);

    .playerIsNotChosenNotification {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &Title {
        font-size: 32px;
        color: #5610be;
    }

    .hr {
        width: 100%;
        height: 2px;
        background-color: #e5e5e5;
        border-radius: 1px;
    }

    .submitFormButtonWrapper {
        margin-top: 32px;
        .submitFormButton {
            &:hover {
                @media (hover: hover) and (pointer: fine) {
                    scale: 1.05;
                }
            }
        }
    }

}