.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.informationWrapper {
    overflow: hidden;
    display: flex;
    margin: 12px 0;
    width: 100%;

    .storeFilesListWrapper {
        overflow-y: auto;
        width: 50%;
    }

    .filesUploader{
        width: 50%;
    }
}

.submitButton {
    margin: 12px 0 0;
}