.textLine {
    flex-grow: 1;
    margin-left: 12px;
    padding: 0 12px;
    font-size: 24px;
    background-color: #e5e5e5;
    border: white 2px solid;
    border-radius: 8px;
    color: #888989;
    box-shadow: 0px 4px 5px 0px rgba(59, 59, 59, 0.45);
}